.section-about{
    background-color: #f3efef;
    /* margin-top:-10vh; */
    padding: 20rem 0;
}
.heading-secondary{
    font-size:4rem;
    text-transform: uppercase;
    font-weight: 700;
    display:inline-block;
    background-image: linear-gradient(to right bottom,
    rgba(231, 212, 39, 0.705), rgba(27, 156, 16, 0.8));
    -webkit-background-clip:text;
    color:transparent;
    letter-spacing: .2rem;
    transition: all .2s;
}
.heading-secondary:hover{
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba(rgb(32, 31, 31), .2);
}
.paragraph{
    text-align: justify;
    font-size: 3rem;
    font-family:'Baloo Chettan 2', cursive;
    margin-left:2rem;
    margin-right:2rem;
}

.u-center-text{
    text-align: center;
}
.u-margin-top{
    margin-top:15rem;
}
.u-margin-bottom-8{
    margin-bottom: 8rem;
}