.section_contact{
    margin-top: 5rem;
    padding :10rem 15rem;
    width:95%vh;
    background-image: linear-gradient(105deg,
     rgba(207, 226, 35, 0.897) 0%,rgba(207, 226, 35, 0.897) 30%, rgba(111, 226, 35, 0.897)70%);
    border-radius:3px;
    box-shadow:0 1.5rem 4rem rgba(black, .15);
    background-size:cover;
}
.contact_form{
    max-width: 80%wv;
    height:80%hv;
    padding:2rem;
}
.form_input{
    font-size:2rem;
    margin-top: 2rem;
    padding:1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, .5);
    border:none;
    font-family: inherit;
    color:inherit;
    border-bottom: 3px solid transparent;
    width:100%;
    display:block;
}
.form_input:focus{
    outline:none;
    box-shadow: 0 1rem 2rem (black, .1);
    border-bottom: 3px solid rgba(31, 155, 15, 0.753);
}
.form_input:focus:invalid{
    border-bottom: 3px solid rgba(238, 9, 21, 0.924);
}
.form_group:not(:last-child){
    margin-bottom:2rem;
}
.form::-webkit-input-placeholder{
    color:#999;
}
.form_label{
    font-size: 2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: .7rem;
    display:block;
    transition: all .3s;
}
.form_input:placeholder-shown + .form_label{
    opacity: 0;
    visibility: hidden;
    transform:translateY(-4rem);
}
